﻿body
{
    margin:0;
    
    }

    #main
    {
        width:100%;
        height:100%;
        position:absolute;
        
        }
        
        #sol
        {
            width:90%;
            height:100%;
            position:relative;
            
            float:left;
            }
            
        #sag
        {
            width:10%;
            height:100%;
            position:relative;
            overflow:auto;
            float:right;
             background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAIAAACw1AcgAAAAA3NCSVQICAjb4U/gAAAAHUlEQVQImWN4+vQpEwMDAxMDAwPT////4exBIgYA2loa5nAttNYAAAAASUVORK5CYII=) 100% 100%;
  background: -moz-linear-gradient(top, #e5e5e5 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #dddddd 100%);
  background: linear-gradient(#e5e5e5 0%, #dddddd 100%);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
            
            }

            
            #header
            {
                width:100%;
                height:12%;
                margin:0;
                position:relative;
                             background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAIAAACw1AcgAAAAA3NCSVQICAjb4U/gAAAAHUlEQVQImWN4+vQpEwMDAxMDAwPT////4exBIgYA2loa5nAttNYAAAAASUVORK5CYII=) 100% 100%;
  background: -moz-linear-gradient(top, #e5e5e5 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #dddddd 100%);
  background: linear-gradient(#e5e5e5 0%, #dddddd 100%);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
                }
#map
{
                width:100%;
                height:100%;
                
                position:relative;
    
    }

#accordion {
                   width:100%;
                height:40%;
                
                position:relative;
}

    #accordion div {
                   width:100%;
                height:500px;
                position:relative;
             overflow: auto;
    }

    #accordion h3 {
                text-align:center;
                position:relative;
                font-weight:bold;
             
    }

    

    #accordion .ui-accordion-content > * {  
    margin: 0;  

}  

    
         
         #logo
         {
             width:30%;
             height:100%;
             position:relative;
             float:left;
             margin:0;
             
                 background-color: #C0C0C0;
             }       
             
             #logo img
             {
                 position:relative;
                 margin-top:-25px;
                 
                 }
                 
                 #menu
                 {
                     width:70%;
             height:100%;
             position:relative;
             float:right;
             margin:0;
             
                 background-color: #C0C0C0;
                     
                     }


.detail {

    
    
    border-collapse: collapse;
}



.detail th {
        background-color:green;
        text-align:center;
        font-size:12px;
        
    }

.detail tr {
        border:1px solid black;
        text-align:center;
        font-size:16px;
        
        
    }
    .detail tr:hover {
        background-color:#fff;
    }


    .detail td {
        
        text-align:center;
        font-size:12px;
          padding:0; margin:0;
        
    }

    .detail td {
        
        padding:6px;
        
    }

    

    

    .detail2 {

    padding: 5px;
    width:100%;
    border-collapse: collapse;
}

    .detail2 td:first-child {
    font-size: 12px;
    
}

    table.detail2 tr:nth-child(1) {
    font-size: 12px;
    background-color: #A4D1FF;
    font-weight: bold;
}
    table.detail2 tr:nth-child(2) {
    font-size: 12px;
    background-color: #A4D1FF;
    font-weight: bold;
}

    table.detail2 tr:nth-child(3) {
    font-size: 12px;
    background-color: #A4D1FF;
    font-weight: bold;
}

    table.detail2 tr:nth-child(4) {
    font-size: 12px;
    background-color: #A4D1FF;
    font-weight: bold;
}


    .detail2 td:nth-child(2) {
    text-align: center;
    font-size: 12px;
    background-color: #D2F0FF;
    margin: 0;
}

    table.detail2 tr:nth-child(5) {
        
        text-align:center;
        font-size:12px;
        background-color:#bfe3b4;
        
    }

    table.detail2 tr:nth-child(5) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(6) {
        
        text-align:center;
        font-size:12px;
        background-color:#4fa833;
        
    }
    table.detail2 tr:nth-child(6) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(7) {
        
        text-align:center;
        font-size:12px;
        background-color:#0f7033;
        
    }
    table.detail2 tr:nth-child(7) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(8) {
        
        text-align:center;
        font-size:12px;
        background-color:#fff53c;
        
    }
    table.detail2 tr:nth-child(8) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(9) {
        
        text-align:center;
        font-size:12px;
        background-color:#ad7a4f;
        
    }
    table.detail2 tr:nth-child(9) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(10) {
        
        text-align:center;
        font-size:12px;
        background-color:#ff6336;
        
    }
    table.detail2 tr:nth-child(10) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(11) {
        
        text-align:center;
        font-size:12px;
        background-color:#c71712;
        
    }
    table.detail2 tr:nth-child(11) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(12) {
        
        text-align:center;
        font-size:12px;
        background-color:#8a1214;
        
    }
    table.detail2 tr:nth-child(12) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(13) {
        
        text-align:center;
        font-size:12px;
        background-color:#910f66;
        
    }
    table.detail2 tr:nth-child(13) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(14) {
        
        text-align:center;
        font-size:12px;
        background-color:#2973b8;
        
    }
    table.detail2 tr:nth-child(14) td {
        
        padding:5px;
        font-weight:bold;
        
    }
    table.detail2 tr:nth-child(15) {
        
        text-align:center;
        font-size:12px;
        background-color:#0a4278;
        
    }
    table.detail2 tr:nth-child(15) td {
        
        padding:5px;
        font-weight:bold;
        
    }

table.hourly {
    width:500px;
    font-size:16px;
    text-align:center;
    border:2px solid black;
}

.hourly {
    
    border-collapse: collapse;
    padding:0;
    margin:0;
}

table.hourly th, tr, td {
    border:1px solid black;
}

table.hourly td:nth-child(1) {
    
    width:20%;
}
table.hourly td:nth-child(2) {
    
    width:10%;
}

table.hourly td:nth-child(3) {
    
    width:20%;
}

table.hourly td:nth-child(4) {
    
    width:25%;
}

table.hourly td:nth-child(5) {
    
    width:25%;
}


.detail th:nth-child(n+1):not(:nth-child(1)):not(:nth-child(2)) {

    display:none;
    
}

.detail td:nth-child(n+1):not(:nth-child(1)):not(:nth-child(2)) {

    display:none;
}

.highlight {
    background:white;
}

