﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Defaultx.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="js/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="js/General.js" type="text/javascript"></script>
    <link href="css/Main.css" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    
    <script src="js/General.js" type="text/javascript"></script>
    <link href="_assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="_assets/css/gridAdmin.css" rel="stylesheet" type="text/css" />
    <link href="_assets/css/round.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery-ui-1.8rc3.custom.css" rel="stylesheet" type="text/css" />
    <script src="kapi/js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.blImageCenter.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyAdZUkU6PQfRwEUfVxgpFkaRjKRdnAGrlE"></script>
    <script src="kapi/js/StyledMarker.js" type="text/javascript"></script>
    <style type="text/css">
    div#tabs
    {
        width:auto;
        min-width:300px;
        height:250px;
        
        }
            .imageCapsul
{
    width:110px;
    margin:2px 5px 2px 5px;
    float:left;

    }
    #alan
    {
        width:400px;
        height:auto;
        overflow:auto;
        }
        .olcum
        {
            text-align: center;
            font-size:12px;
            
            }
        
        .imagelar
        {
            width:100px;
        }
    </style>

 <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    <link href="fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" />
    <script src="fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
    <script src="fancybox/jquery.mousewheel-3.0.4.pack.js" type="text/javascript"></script>
        	<script type="text/javascript">
        	    $(document).ready(function () {


        	        


        	        /*   $('.group1').live('mouseenter', function () {
        	        this.colorbox({ rel: 'group1' });

        	        });*/


        	        $('a[rel=example_group]').live('mouseenter', function () {

        	            $(this).fancybox({

        	                'transitionIn': 'elastic',
        	                'transitionOut': 'elastic',
        	                'autoScale': true
        	            });

        	        });

        	    });
	</script>

    <script type="text/javascript">

        $(document).ready(function () {
            
            var map;
            var markers = new Array();
            var gelenHeader = new Array();

            var artar = 0;
            function initialize() {
                var mapOptions = {
                    center: new google.maps.LatLng(38.75408327579141, 36.38671875),
                    zoom: 6,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    panControl: false,
                    zoomControl: false,
                    streetViewControl: false
                };
                map = new google.maps.Map(document.getElementById("map"),
            mapOptions);

                var controlDiv = document.createElement('div');
                controlDiv.innerHTML = "<div style='margin:5px;position:absolute'><img src='image/scala.png' /></div>";
                          

                controlDiv.index = 1;

                map.controls[google.maps.ControlPosition.TOP_LEFT].push(controlDiv);

                var infowindow = new google.maps.InfoWindow();
                pinOlustur();
                function pinOlustur() {
                    //$.ajax({
                    //    type: "POST",
                    //    traditional: true,
                    //    url: "Default.aspx/test",
                    //    data: "{}",
                    //    dataType: "json",
                    //    contentType: "application/json; charset=utf-8",
                    //    success: function (msg) {

                    //    }
                    //}); //ajax 
                    $.ajax({
                        type: "POST",
                        traditional: true,
                        url: "Default.aspx/pinOlustur",
                        data: "{}",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {

                            var sonuc = msg.d;

                            if (sonuc == "") {
                                return false;
                            }

                            var gelenAna = new Array();

                            gelenAna = sonuc.split('~');

                            var gelenChild = gelenAna[0].split('|');
                            var gelenHeader = gelenAna[1].split('|');
                            var gelenSonuc = gelenAna[2].split('|');
                            var gelenLn = gelenAna[3].split('|');
                            var gelenHava = gelenAna[4].split('|');
                            var gelenFoto = gelenAna[5].split('|');

                            for (var b = 0; b < gelenChild.length; b++) {

                                var gelenSonucR = new Array();
                                if (gelenSonuc.length > b) {
                                    gelenSonucR = gelenSonuc[b].split('*');
                                }

                                var styleIconClass;
                                if (parseFloat(gelenSonucR[8]) < 35) {
                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#bfe3b4", fore: '#FFFFFF' });
                                }
                                else if (parseFloat(gelenSonucR[8]) < 40 && parseFloat(gelenSonucR[8]) >= 35) {

                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#4fa833", fore: '#FFFFFF' });
                                }
                                else if (parseFloat(gelenSonucR[8]) < 45 && parseFloat(gelenSonucR[8]) >= 40) {

                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#0f7033", fore: '#FFFFFF' });
                                }
                                else if (parseFloat(gelenSonucR[8]) < 50 && parseFloat(gelenSonucR[8]) >= 45) {

                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#fff53c", fore: '#FFFFFF' });
                                }
                                else if (parseFloat(gelenSonucR[8]) < 55 && parseFloat(gelenSonucR[8]) >= 50) {

                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#ad7a4f", fore: '#FFFFFF' });
                                }
                                else if (parseFloat(gelenSonucR[8]) < 60 && parseFloat(gelenSonucR[8]) >= 55) {

                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#ff6336", fore: '#FFFFFF' });
                                }
                                else if (parseFloat(gelenSonucR[8]) < 65 && parseFloat(gelenSonucR[8]) >= 60) {

                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#c71712", fore: '#FFFFFF' });
                                }
                                else if (parseFloat(gelenSonucR[8]) < 70 && parseFloat(gelenSonucR[8]) >= 65) {

                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#8a1214", fore: '#FFFFFF' });
                                }

                                else if (parseFloat(gelenSonucR[8]) < 75 && parseFloat(gelenSonucR[8]) >= 70) {
                                    
                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#910f66", fore: '#FFFFFF' });
                                }
                                else if (parseFloat(gelenSonucR[8]) < 80 && parseFloat(gelenSonucR[8]) >= 75) {

                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#2973b8",fore:'#FFFFFF' });
                                }
                                else if (parseFloat(gelenSonucR[8]) > 80) {
                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#0a4278", fore: '#FFFFFF' });
                                }
                                else {
                                     
                                    styleIconClass = new StyledIcon(StyledIconTypes.CLASS, { color: "#1dd3fa", fore: '#FFFFFF' });
                                }

                                var gelenChild2 = gelenChild[b].split('*');

                                

                                

                                var marker = new StyledMarker({
                                    styleIcon: new StyledIcon(StyledIconTypes.BUBBLE, { text: "" + gelenChild2[5].toString() + "" }, styleIconClass),
                                    position: new google.maps.LatLng(gelenChild2[0].toString().replace(",", "."), gelenChild2[1].toString().replace(",", ".")),
                                    id: gelenChild2[3],
                                    zoom: gelenChild2[2],
                                    description: "" + gelenChild2[4] + "",
                                    draggable: false,
                                    animation: google.maps.Animation.DROP,
                                    map: map
                                });


                                markers[b] = marker;

                                google.maps.event.addListener(marker, 'click', (function (marker, b) {
                                    
                                    var gelenSonuc2 = new Array();
                                    if (gelenSonuc.length > b) {
                                        gelenSonuc2 = gelenSonuc[b].split('*');
                                       }

                                    var gelenLn2 = new Array();

                                    var gelenHava2 = new Array();

                                    var gelenFoto2 = new Array();

                                    if (gelenHava.length > b) {
                                        gelenHava2 = gelenHava[b].split('*');
                                    }
                                    if (gelenFoto.length > b) {
                                        gelenFoto2 = gelenFoto[b].split('*');
                                        
                                    }

                                    if (gelenLn.length > b) {

                                        gelenLn2 = gelenLn[b].split('*');

                                    }
                                    var gelenHeader2 = new Array();
                                    var gelenChild2 = gelenChild[b].split('*');
                                    if (gelenHeader.length > b) {
                                        gelenHeader2 = gelenHeader[b].split('*');
                                    }
                                    if (typeof gelenHeader2[6] == 'undefined' || gelenHeader2[6] == "") {
                                        gelenHeader2[6] = "--";
                                    }
                                    if (typeof gelenHeader2[0] == 'undefined' ||gelenHeader2[0] =="") {
                                        gelenHeader2[0] = "--";
                                    }
                                    if (typeof gelenHeader2[1] == 'undefined'||gelenHeader2[1] =="") {
                                        gelenHeader2[1] = "--";
                                    }
                                    
                                    if (typeof gelenHava2[2] == 'undefined' || gelenHava2[2]=="") {
                                        gelenHava2[2] = "--";
                                    }

                                    if (typeof gelenHava2[1] == 'undefined'||gelenHava2[1]=="") {
                                        gelenHava2[1] = "--";
                                    }

                                    if (typeof gelenHava2[0] == 'undefined' || gelenHava2[0]=="") {
                                        gelenHava2[0] = "--";
                                    }

                                    if (typeof gelenLn2[1] == 'undefined' || gelenLn2[1]=="") {
                                        gelenLn2[1] = "--";
                                    }

                                    if (typeof gelenLn2[0] == 'undefined' || gelenLn2[0]=="") {
                                        gelenLn2[0] = "--";
                                    }

                                    if (typeof gelenSonuc2[8] == 'undefined' || gelenSonuc2[8]=="") {
                                        gelenSonuc2[8] = "--";
                                    }

                                    if (typeof gelenSonuc2[7] == 'undefined' || gelenSonuc2[7] == "") {
                                        gelenSonuc2[7] = "--";
                                    }

                                    if (typeof gelenSonuc2[6] == 'undefined' || gelenSonuc2[6] == "") {
                                        gelenSonuc2[6] = "--";
                                    }
                                    
                                    if (typeof gelenSonuc2[4] == 'undefined' || gelenSonuc2[4] == "") {
                                        gelenSonuc2[4] = "--";
                                    }

                                    if (typeof gelenSonuc2[1] == 'undefined' || gelenSonuc2[1] == "") {
                                        gelenSonuc2[1] = "--";
                                    }

                                    if (typeof gelenSonuc2[0] == 'undefined' || gelenSonuc2[0] == "") {
                                        gelenSonuc2[0] = "--";
                                    }

                                    var enlem = gelenChild2[0].toString();

                                    var boylam = gelenChild2[1].toString();

                                    if (enlem.length > 9) {

                                        enlem = enlem.substring(0, 9);

                                    }

                                    if (boylam.length > 9) {
                                        boylam = boylam.substring(0, 9);
                                    }

                                    return function () {
                                        var fotolar = "";
                                        for (var i = 0; i < gelenFoto2.length; i++) {

                                            if (gelenFoto2[i] != "") {
                                                fotolar += "<a class='group1' rel='example_group' href='Kapi/UploadFiles/" + gelenFoto2[i] + "' title='Frekans Acoustics'><div class='imageCapsul'><img class='imagelar' alt='' src='Kapi/UploadFiles/" + gelenFoto2[i] + "' /></div></a>";

                                                //fotolar += "<a rel='example_group' href='Kapi/UploadFiles/" + gelenFoto2[i] + "' title='Frekans Akustik'><div class='imageCapsul'><img class='imagelar' alt='' src='Kapi/UploadFiles/" + gelenFoto2[i] + "' /></div></a>";
                                            }
                                            else {

                                                fotolar = "";
                                            }

                                        }
                                        var contentString = [
                                                            '<div id="alan">',
                                                            '<div id="tabs">',
                                                            '<ul>',
                                                              '<li><a href="#tab-1"><span>Ölçüm Sonuçları</span></a></li>',
                                                              '<li><a href="#tab-2"><span>Fotoğraflar</span></a></li>',
                                                            '</ul>',
                                                            '<div id="tab-1">',
                                                              '<table class="olcum" ><tr style="background=666"><th>No</th><th>Enlem(Y)</th><th>Boylam(X)</th>',
                                                              '<th>Başlangıç Tarihi</th><th>Başlangıç Zamanı</th><th>Süre</th>',
                                                              '</tr>',
                                                              '<tr><td>' + gelenChild2[5].toString() + '</td><td>' + enlem.replace(",", ".") + '</td><td>' + boylam.replace(",", ".") + '</td><td>' + gelenSonuc2[0] + '</td><td>' + gelenSonuc2[1] + '</td><td>' + gelenSonuc2[4] + '</td></tr>',
                                                              '</table><hr/>',
                                                              '<table class="olcum"><tr style="background=666"><th>LAmax</th><th>LAmin</th><th>LAeq</th>',
                                                              '<th>LA10</th><th>LA90</th><th>Cihaz İsmi</th><th>Cihaz Seri No</th>',
                                                              '</tr>',
                                                              '<tr><td>' + gelenSonuc2[6] + '</td><td>' + gelenSonuc2[7] + '</td><td>' + gelenSonuc2[8] + '</td><td>' + gelenLn2[0] + '</td><td>' + gelenLn2[1] + '</td><td>' + gelenHeader2[1] + '</td><td>' + gelenHeader2[6] + '</td></tr>',
                                                              '</table><hr/>',
                                                              '<table class="olcum"><tr style="background=666"><th>Calibration Factor</th><th>Temp</th>',
                                                              '<th>Humudity</th><th>Wind Speed</th>',
                                                              '</tr>',
                                                              '<tr><td>' + gelenHeader2[0] + '</td><td>' + gelenHava2[0] + ' °C</td><td>' + gelenHava2[1] + ' %</td><td>' + gelenHava2[2] + ' m/s</td></tr>',
                                                              '</table>',
                                                            '</div>',
                                                            '<div id="tab-2">',
                                                              fotolar ,
                                                            '</div>',
                                                            '</div>',
                                                            '</div>'
                                              ].join('');
                                        infowindow.setContent(contentString);

                                        infowindow.open(map, marker);
                                        //$('.imageCapsul img').centerImage('inside');

                                    }
                                })(marker, b));
                                marker.setMap(map);

                                AutoCenter();
                            }



                        },
                        error: function (xhr) {
                            var test = xhr.responseText.split('~');
                            alert(test[0]);
                        }
                    }); //ajax  
                   // imageResize();
                } //pin olustur

                function AutoCenter() {
                    //  Create a new viewpoint bound
                    var bounds = new google.maps.LatLngBounds();
                    //  Go through each...
                    $.each(markers, function (index, marker) {
                        bounds.extend(marker.position);
                    });
                    //  Fit these bounds to the map
                    map.fitBounds(bounds);
                }

                var contentString;





                $(".pins").click(function () {

                    var id = this.id;
                    var ids = id.split('_');
                    var donen = parseInt(ids[1]);
                    myclick(donen);
                });

                google.maps.event.addListener(infowindow, 'domready', function () {
                    $("#tabs").tabs();
                });

                function myclick(id) {
                    var sayi;
                    for (var i = 0; i < markers.length; i++) {

                        if (markers[i].id == id) {
                            sayi = i;
                            break;
                        }
                    }

                    google.maps.event.trigger(markers[sayi], "click");
                }

            } // initi






            google.maps.event.addDomListener(window, 'load', initialize);


            $("#setInterval").click(function () { 

                SetInterval();
            });

            function SetInterval() {

                var getValue = window.prompt("Raporlamak istediğiniz aralığı giriniz. Aralık belirlemek için her iki sayı arasında tire (-) kullanınız. Aralık belirttiğiniz sayılar raporlamaya dahil edilir. Farklı sayıları toplu olarak almak isterseniz virgül kullanarak ayırınız. Herhangi bir değer girilmezse tüm ölçüm sonuçları indirilir.", "");

                //var sayilar = new Array();

                //sayilar = getValue.split("..");

                window.location.href = "rapor.ashx?tur=tek&interval="+getValue;

            }

        });                               //ready
    </script>
    
  </head>
  <body style="font-size:62.5%;" >
  
      <form id="form1" runat="server">
      
  <div id="main">
  <div id="sol">
  <div id="header">
  <div id="logo">
  <img alt="frekans_akustis" src="image/logo.png" />
  </div>

  <div id="menu">
  <ul>
  <li style="width: 150px;max-height:40px; overflow: auto">
      <asp:HyperLink ID="hybMer" runat="server" Font-Size="11px"></asp:HyperLink>
  </li>
  <li style="width: 250px;max-height:40px; overflow: auto">
      <asp:HyperLink ID="hypPro" runat="server">[hypPro]</asp:HyperLink>
  </li>
   <li class='active has-sub'><a href='#'><span>Proje Seç</span></a>
      <ul style="overflow: auto; max-height: 400px;">
          <asp:Panel ID="pnlprj" runat="server">
          </asp:Panel>
      </ul>
   </li>
      <li class='active has-sub'><a href='#'><span>Raporlar</span></a>
      <ul style="overflow: auto; max-height: 400px;">
          <li class='has-sub'><a href="rapor.ashx?tur=genel"><span>Genel</span></a></li>
          <li class='has-sub'><a id="setInterval" href="#"><span>Tek Tek</span></a></li>
      </ul>
   </li>
   <li><a href="kapi/Default.aspx"><span>Çıkış</span></a></li> 
</ul>
  
  </div>
  </div>
  <div id="map"></div>
  </div>
  <div id="sag">
<h2>Ölçüm Noktaları</h2>
      <hr />
<%--<asp:Button ID="Button1" runat="server" Text="Rapor Oluştur" onclick="Button1_Click" 
          Width="100%" />--%>
  <ul >
  <asp:Panel ID="pnlPin" runat="server">
      
          </asp:Panel>
          
      <%--<li><a href="#">1.Nokta</a></li>
    
    <li><a href="#">3.Nokta</a></li>
    <li><a href="#">4.Nokta</a></li>
    <li><a href="#">5.Nokta</a></li>--%>
  </ul>
  
  
  </div>
  </div>
    <input type="hidden" id="kulRef" runat="server" />
      </form>
  </body>
</html>
