﻿.grid
{
    width: auto;
    font-family: Tahoma;
    overflow: hidden;
    display: block;
    margin-top:20px;
    min-width:860px;
}
.grid H2 
{ 
	margin:0; padding:0; 
	color:#ffffff;
	height:20px;
	line-height:20px;
	font-size:14px;
}
.grid .mid
{
	padding:3px 0px 0px 0px;
}
.grid .datatable
{
	width:855px;
	color:#666;
	height:auto;
	font-size:10px;
}        
.grid .datatable TH
{
    font-size:10px;
    font-weight:bold;
    letter-spacing:0px;
    text-align:center;
    padding:2px 4px;
    color:#333333;
    border-bottom:solid 2px #bbd9ee;
    
}
.grid .datatable TH A
{ 
	text-decoration:none;
	padding-right:18px; 
	color:#0066cc;
}
.grid .datatable TH.sortasc A { background:url(../img/asc.gif) right center no-repeat; }
.grid .datatable TH.sortdesc A { background:url(../img/desc.gif) right center no-repeat; }
.grid .datatable .row TD
{
    
    font-size:10px;
    text-align:center;
    padding:6px 4px;
    border-bottom:solid 1px #bbd9ee;
}

.grid .datatable .row TD:eq(3)
{
    font-size:10px;
    text-align:center;
    padding:6px 4px;
    border-bottom:solid 1px #bbd9ee;
    width:20px;
    overflow:hidden;
}        
.grid .datatable .row TD:nth-child(2)
{
    font-size:10px;
    text-align:center;
    padding:6px 4px;
    border-bottom:solid 1px #bbd9ee;
    width:20px;
    overflow:hidden;
}
.grid .datatable .row TD:nth-child(3)
{
    font-size:10px;
    text-align:center;
    padding:6px 4px;
    border-bottom:solid 1px #bbd9ee;
    width:20px;
    overflow:hidden;
}

.grid .datatable .row:hover
{
	background-color:#fffacd;
	color:#000;
}
.grid .datatable .row TD.first { padding-left:10px; }
.grid .datatable TH.first { padding-left:10px; }
.grid .datatable .row:hover .first
{
    background-repeat:no-repeat;   
	background-image:url(../img/bullet.gif);
}  
/* Data Pager Styles */
.grid TR.pager-row TD
{
    border-top:solid 2px #bbd9ee;
}
.grid .pager
{
    font-family:arial,sans-serif;
    text-align:center;
    padding:6px;	
    font-size:18px;
} 
.grid .pager SPAN.command,        
.grid .pager SPAN.current,        
.grid .pager A.command,
.grid TR.pager-row TD A
{
    color:#5a90ce;
    padding:0px 5px;
    text-decoration:none;
    border:none;
}
.grid .pager A.command:hover,
.grid TR.pager-row TD A:hover
{
    border:solid 2px #408BB6;
    background-color:#59A5D1;
    color:#fff;
    padding:0px 3px;
    text-decoration:none;
}        
.grid .pager SPAN.current,
.grid TR.pager-row TD SPAN
{
	border:none;
    font-weight:bold;
    color:#3e3e3e;
    padding:0px 6px;
}
.grid TR.pager-row TD
{
	border-top:none;
	text-align:center;
}
.grid TR.pager-row TABLE
{
	height:35px;
	margin:0 auto 0 auto;
}