﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AdminMasterPage.master.cs" Inherits="Admin_MasterPageX"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    
    <link href="css/MainX.css" rel="stylesheet" type="text/css" />
                
    <script src="js/General.js" type="text/javascript"></script>
    <link href="../_assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="../_assets/css/gridAdmin.css" rel="stylesheet" type="text/css" />
    <link href="../_assets/css/round.css" rel="stylesheet" type="text/css" />


    
    <script src="js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
    <script src="js/jquery.ui.datepicker-tr.js" type="text/javascript"></script>
    <script src="js/StyledMarker.js" type="text/javascript"></script>
             <link href="css/blitzer/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">
    </asp:ContentPlaceHolder>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $("#oturumuKapat").click(function () {



                $.ajax({
                    type: "POST",
                    url: "Default.aspx/Abandon",
                    data: "{}",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {

                        window.location.href = "./Default.aspx";

                    }
                }); //ajax

            });


        });
    </script>
       <script type='text/javascript' src='js/jquery.cookie.js'></script>
    <link href="css/dcaccordion.css" rel="stylesheet" type="text/css" />
    <link href="css/skins/grey.css" rel="stylesheet" type="text/css" />

    <script type='text/javascript' src='js/jquery.hoverIntent.minified.js'></script>
<script type='text/javascript' src='js/jquery.dcjqaccordion.2.7.min.js'></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#accordion-1').dcAccordion({
            eventType: 'click',
            autoClose: true,
            saveState: true,
            disableLink: true,
            speed: 'slow',

            autoExpand: true


        });

    });
</script>
    <link href="css/tipsy.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery.tipsy.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.cep').tipsy({ gravity: 's' });
        });

    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="main">
    <div id="banner">
    <div id="butonlar">
    <a href="../Default.aspx" target="_self"><img src="images/image/site.png" /></a>
    <a href="#"><img src="images/image/profil.png" /></a>
    <a id="oturumuKapat" href="#"><img src="images/image/cikis.png" /></a>
    </div>
    </div>
     <div id="banner2">
    <div id="bannerImage">
    <img src="images/icons/logo_2.png" />
    </div>
    <div id="kullanici">
    <asp:Label ID="lblBaslik" runat="server" Font-Names="Arial" Font-Size="11pt" 
                                                Text="İçerik"></asp:Label>
    </div>
    </div>
    <div style="clear:both"></div>
    <div id="content">
    <div id="sol">
    <div class="wrap">

<div class="grey demo-container">


<ul class="accordion" id="accordion-1">

<asp:Panel ID="pnlwrap" runat="server">
    
    
    
<%--    <li><a href="Default.aspx">Anasayfa</a></li>
    <li><a href="#">Genel</a>
    <ul>
    <li><a href="GenelAyarlar.aspx">Genel Ayarlar</a></li>
    <li><a href="SiteAyarlar.aspx">Site Ayarları</a></li>
    <li><a href="#">EPosta Ayarları</a></li>
    <li><a href="kullanici.aspx">Kullanıcı Ayarları</a></li>
    </ul>
    <li><a href="#">İçerik</a><ul>
<li><a href="#">İçerik Yönetimi</a><ul>
    <li><a href="hakkimizda.aspx">Hakkımızda</a></li>
    <li><a href="etkinlik.aspx">Etkinlikler</a></li>
    <li><a href="haberler.aspx">Bizden Haberler</a></li>
    <li><a href="paintball.aspx">Paintball Sayfası  ve Basında Biz</a></li>
 
</ul>
</li>
<li><a href="album.aspx">Foto ve Video Albüm Yönetimi</a></li>
<li><a href="#">Menü Yönetimi</a></li>
<li><a href="#">Sosyal Linkler</a></li>
<li><a href="slider.aspx">Slider İçerik Yönetimi</a></li>

<li><a href="iletisimAyar.aspx">Adres Yönetimi</a></li>
</ul></li>--%>




</asp:Panel>
</ul>
</div>


</div>
    </div>
    <div id="sag">
    
    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    
    </div>
    
    </div>
    <div id="fotter"></div>
    
    
    
    </div>

    
    </form>
</body>
</html>
