﻿<%@ Page Title="" Language="C#" MasterPageFile="AdminMasterPage.master" AutoEventWireup="true" CodeFile="Hata.aspx.cs" Inherits="Hata" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="main-2">
<a id="linkbck" runat="server" href="javascript:history.go(-1)" title="Bir Önceki Sayfaya Geri Dön" style="font-size: small">« Geri Dön</a></span></div>
<div class="hakkimizda-alan">
<div class="hakkimizda-text">
    <img alt="Hata" src="../images/404.jpg" />    
</div>
</div>
</div>
</asp:Content>

