﻿
/*Css sıfırlama*/
a
{
    outline: 0;
    
}

a:link {text-decoration: none}
a:hover
{
    
}

* { margin:0; padding:0; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}
body
{
    background-position: center top;
    line-height: 1;
    font-family: Arial;
    background-image: url('../images/image/background_parca.png');
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
 
/* remember to define focus styles! */
:focus {
   outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
   text-decoration: none;
}
del {
   text-decoration: line-through;
}
 
/* tables still need 'cellspacing="0"' in the markup */
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*Css sıfırlama*/

#main
{
    margin: 0 auto;
    width: 100%;
    height: auto;
    
}

#logo
{
    margin: 100px auto 0 auto;
    text-align:center;
}

#baslik
{
    margin: 50px auto 0 auto;
    text-align:center;
}

#content
{
    background-position: center top;
    width: 100%;
    height: 230px;
    text-align: center;
    background-color: #63c430;
    
}

input[type=text]
{
    background-position: center center;
    width: 230px;
    height:20px;
    padding: 3px;
    margin-top: 50px;
        border-radius:5px;
-moz-border-radius:5px; 
}
    
    input[type=password]
{
    margin-top:10px;
    width:230px;
    height:20px;
    padding:3px;
            border-radius:5px;
-moz-border-radius:5px; 
    }
    
        input[type=button]
{
    margin-top: 10px;
    font-size: small;
    font-weight: bold;
    font-family: Tahoma;
    color: #FFFFFF;
    margin-left: 135px;
    background-color: #3333FF;
    border: none;
    width: 111px;
    height: 25px;
    cursor: pointer;
    padding-left: 45px;
    text-shadow: black 0.1em 0.1em 0.2em;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
            border-radius:5px;
-moz-border-radius:5px; 
}

        input[type=button]:hover
{
    margin-top: 10px;
    font-size: small;
    font-weight: bold;
    font-family: Tahoma;
    color: #FFFFFF;
    margin-left: 135px;
    background-color: #3366FF;
    border: none;
    width: 111px;
    height: 25px;
    cursor: pointer;
    padding-left: 45px;
    text-shadow: black 0.1em 0.1em 0.2em;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
            border-radius:5px;
-moz-border-radius:5px; 
}
    
    .icerik a
    {
        
        color:#FFFFFF;
        font-family:Tahoma;
        font-size:small;
        font-weight:bold;
        text-decoration:none;
        position:relative;
        left:-65px;
        top:50px;
        text-shadow: black 0.1em 0.1em 0.2em
        }
        
                
        
            .icerik a:hover
    {
        
        
        text-decoration:underline;
         
        }

        .sorgula a
        {
        color:#FFFFFF;
        font-family:Tahoma;
        font-size:small;
        font-weight:bold;
        text-decoration:none;
        position:relative;
        left:-60px;
        top:90px;
            
            text-shadow: black 0.1em 0.1em 0.2em;
            }
            
            .sorgula a:hover
        {
        
        text-decoration:underline;
        
            
            
            }
        
        #fotter
{
    
    width: 100%;
    height: 30px;
    margin-top:10px;
    
    text-align:center;
}
        
           #fotter a
    {
        
        color:#839ab9;
        font-family:Tahoma;
        font-size:small;
        font-weight:bold;
        text-decoration:none;
position:relative;
left:-55px;
        }
        
            #fotter a:hover
    {
        
        
        text-decoration:underline;
         
        }
        


