﻿/*Css sıfırlama*/
a
{
    outline: 0;
    
}

a:link {text-decoration: none}
a:hover
{
    text-decoration: underline;
}



#cboxClose{display:none !important;}

* { margin:0; padding:0; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   border-style: none;
    border-color: inherit;
    border-width: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-weight: 700;
}
body
{
    background-position: center top;
    line-height: 1;
    font-family:Tahoma;
    font-size: 12px;
    background-image: url('../images/image/main_bg1.png');
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
 
/* remember to define focus styles! */
:focus {
   outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
   text-decoration: none;
}
del {
   text-decoration: line-through;
}
 
/* tables still need 'cellspacing="0"' in the markup */
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*Css sıfırlama*/

#main
{
    background-position: center top;
    width: 1200px;
    
    margin: 0 auto;
    background-image: url('../images/image/main_bg2.png');
}

#banner
{
    width: 1200px;
    height: 40px;

    
}

#banner2
{
    width: 1200px;
    height: 80px;
    
    
}

#bannerImage
{
    text-align: center;
    width: 275px;
    height: 121px;
    overflow: hidden;
    margin: 0 auto;
    float: left;
    margin-left:20px;
    
}
    
    #kullanici
    {
     width:665px;
     height:80px;
     text-align:right;
     float:right;
     padding-right:40px;
     margin-top:10px;
     padding-top:10px;

        
        }
        
        #lblBaslik
        {
                 color:#606162;
     font-weight:normal;
     font-size:medium;
     font-family:Tahoma;
            
            }
    
    #banner div
{
    display: inline;
    text-align: right;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    float:right;
    color: #FFFFFF;
    margin-right:25px;
    margin-top:10px;
}

#banner img
{
    vertical-align: middle;
}

#banner a
{
    color:#000000
    
    
}
    
    #content
    {
        width:1200px;
        height:100%;
        
        margin:0 auto;
       min-height:630px; 
   }
   
   #sol
   {
       
       float:left;
       background-color:#a3b1c6;
       width:275px;
       height:100%;
       min-height:630px;
       
       margin-right:20px; 
       margin-left:20px;
       
       }
       
   #sag
   {
       
       float:left;
       width:885px;
       height:100%;
       min-height:630px; 
       
       }
       
       /*login begin*/
       
       .logKapsar2
       {
           margin-top:20px;
           
           }
       
       .logBaslik
{
    font-size: x-large;
    color: #FFFFFF;
    
    letter-spacing: 3px;
    margin-bottom:10px;
    font-family:Tahoma;
    font-weight:normal;
}
       .logIcerik
       {
           width:860px;
           height:auto;
           min-height:50px;
           background-color:#c0c6d0;
           padding-top:10px;
           padding-bottom:10px;
           
           }
           
           .logButton
{
    background-position: center center;
    width: 180px;
    height: 38px;
    
    background-image: url('../images/image/button.png');
    background-repeat: no-repeat;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    border:none;
    cursor:pointer;
    margin-left:28px;
    margin-top:10px;
}

           .logButton2
{
    background-position: center center;
    width: 180px;
    height: 38px;
    background-image: url('../images/image/button.png');
    background-repeat: no-repeat;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    border:none;
    cursor:pointer;
    margin-left:0px;
    margin-top:10px;
}

           .logButton:hover
{

    color:#000000;

}

           .logButton2:hover
{

    color:#000000;

}
       
       /*login end*/
       
       
       /*Genel Ayarlar Begin*/
       .icerikKapsar
       {
           width:860px;
           background-color:#c0c6d0;
           padding:5px;
           height:auto;
           
           
           }
       .icerikTablo
       
       {
           width:860px;
           height:auto;
           
           
           }
           
           .geriDon
           {
               color:#013985;
               
               }
                          .geriDon:hover
           {
               color:#FFFFFF;
               
               }
                              .icerikTablo td:nth-child(1)
               {
                   color:#013985;
                   
                   }
               .icerikTablo td:nth-child(2)
               {
                   padding-top:5px;
                   padding-bottom:5px;
                   
                   }
                                  .icerikTablo tr:nth-child(1) span
               {
                   font-size:large;
                   color:#FFFFFF;
                  text-shadow: black 0.1em 0.1em 0.2em;
                   
                   }
                   
            .icerikTablo td:nth-child(2) input[type=text]
               {
                     width: 230px;
    height:20px;
    padding: 3px;
    margin-top: 5px;
        border-radius:5px;
-moz-border-radius:5px; 
                   
                   
                   }
                               .icerikTablo td:nth-child(2) textarea
               {
                     width: 230px;
    height:20px;
    padding: 3px;
    margin-top: 5px;
        border-radius:5px;
-moz-border-radius:5px; 
                   
                   
                   }
                   
                   
                   
       
       /*Genel Ayarlar End*/
       


